body {
  background-color: black;
}
.wrapper {
    position: absolute;
    height: 250px;
    perspective: 700px;
    -webkit-perspective: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
  }


#holo1{
    top: 7%;
    left: 45%
}

#holo2{
    transform: rotate(180deg);
    left: 45%;
    bottom: 7%;
    
} 

#holo3{
  transform: rotate(270deg);
  top: 35%;
  left: 25%;
  
} 

#holo4{
    transform: rotate(90deg);
    top: 35%;
   left: 65%;

}  
.cube {
    width: 200px;
    height: 200px;
    transform-style:preserve-3d;
    /* transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
  }

.cube > div {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
  }

  .cube div:nth-child(1) {
    transform:translateZ(100px);
    background:#b1b1b1;
  }
  
  .cube div:nth-child(2) {
    transform: rotateX(180deg) translateZ(100px);
    background:#a5a5a5;
  }
  
  .cube div:nth-child(3) {
    transform: rotateY(-90deg) translateZ(100px);
    background:#a3a3a3;
  }
  
  .cube div:nth-child(4) {
    transform:rotateY(90deg) translateZ(100px);
    background:#a1a1a1;
  }
  
  .cube div:nth-child(5) {
    transform: rotateX(90deg) translateZ(100px);
    background:#a0a0a0;
  }
  
  .cube div:nth-child(6) {
    transform:rotateX(-90deg) translateZ(100px);
    background:#bbbbbb;
  }