.wrapper {
    height: 250px;
    perspective: 700px;
    -webkit-perspective: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: arial, sans-serif;
  }
  
.cube {
    width: 100px;
    height: 100px;
    transform-style:preserve-3d;
    transform:rotateY(35deg) rotatex(50deg);
  }

.cube > div {
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-transform: uppercase;
  }

  .cube div:nth-child(1) {
    transform:translateZ(60px);
    background:#237ad4;
  }
  
  .cube div:nth-child(2) {
    transform: rotateX(180deg) translateZ(60px);
    background:#2070c3;
  }
  
  .cube div:nth-child(3) {
    transform: rotateY(-90deg) translateZ(60px);
    background:#2e84dd;
  }
  
  .cube div:nth-child(4) {
    transform:rotateY(90deg) translateZ(60px);
    background:#3f8edf;
  }
  
  .cube div:nth-child(5) {
    transform: rotateX(90deg) translateZ(60px);
    background:#2070d3;
  }
  
  .cube div:nth-child(6) {
    transform:rotateX(-90deg) translateZ(60px);
    background:#1d67b2;
  }